<div class="header">
    <p class="name">Guna Prasaad
        <a href="javascript:void(0);" class="navbar-icon" onclick="myFunction()">≡</a>
    </p>
</div>
<ul class="navbar" id="myNavbar">
  <li> <a {% if page.url == '' %} class="extra active" {% else %} class = "extra" {% endif %} href="{{ site.url }}">home</a> </li>
  <li> <a {% if page.url == 'research' %} class="extra active" {% else %} class = "extra" {% endif %} href="{{ site.url }}research">research</a> </li>
  <li> <a {% if page.url == 'publications' %} class="extra active" {% else %} class = "extra" {% endif %} href="{{ site.url }}publications">publications</a> </li>
  <li> <a {% if page.url == 'news' %} class="extra active" {% else %} class = "extra" {% endif %} href="{{ site.url }}news">news</a> </li>
  <li> <a {% if page.url == 'blog' or page.url contains '/posts/' %} class="extra active" {% else %} class = "extra" {% endif %} href="{{ site.url }}blog">blog</a> </li>
  <li> <a class="extra" href="{{site.url}}assets/resume.pdf">resume</a> </li>
</ul>
